#main {
    font-weight: bold;
    font-size: 1.2em;
}

.color-main {
    background-color: #003b72;
}

/* Carousel */
.slideshow-container {
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}
/* End carousel */

.pd-20 {
    padding: 20px;
}

.float-right {
    float: right;
}

.mb-10 {
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}

.active-link {
    border-radius: 4px;
    cursor: pointer;
    background-color: #003b72;
    color: #f2f2f2;
}

.c-b {
    border: 1px solid #eeeeee;
}

.bx-sh-none {
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    
    .buttons-post {
        width: 100%;
    }

    .total-width {
        width: 100%;
    }

    .subtitle {
        text-align: center;
    }

    .img-post {
        margin-top: 15px;
    }
}